body {
  background-color: wheat;
}
p {
  font-size: large;
}
.titulo {
  border: 2px solid black;
  padding: 10px;
  display: inline-block;
}
.en {
  color: #333;
}
.check {
  position: relative;
  width: 50px;
}
