.title {
  color: white;
  border: 2px solid black;
  background-image: url("/img/calistenia-4.jpg");
  padding: 10px 200px;
  display: inline-block;
  margin: 0 auto;
  border-radius: 10px;
  background-size: 100% 100%;
  text-align: center;
  -webkit-text-stroke: #000 1px;
}
#btn-en {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
  background-image: url(/img/imgBtn-en.png);
  background-size: cover;
  color: white;
  border: none;
  padding: 10px;
  border-style: solid;
  -webkit-text-stroke: 1px black;
  font-size: large;
  font-weight: bold;
}
#btn-es {
  position: absolute;
  background-image: url(/img/imgBtn-esMx.jpg);
  background-size: cover;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  color: white;
  border: none;
  padding: 10px;
  border-style: solid;
  font-weight: bold;
  font-size: large;
  border-width: 2px;
  text-align: center;
  -webkit-text-stroke: 1px black;
}
.sidebar {
  background-image: url(/img/medecinaAlterImg/flowerpng.png);
  height: 100%;
  position: fixed;
  width: 200px;
  z-index: 1;
  overflow: auto;
  padding-top: 20px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  text-decoration: underline;
}
.sidebar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.sidebar li a:hover {
  background-color: #555;
  color: #fff;
}
.main-content {
  margin-left: 200px;
  padding: 20px;
  margin-right: 200px;
}
.main-content p {
  font-size: 20px;
  margin-left: 2px;
  margin-right: 50px;
}
body {
  background: linear-gradient(to bottom, #65fa99, #fdfffe);
}
.container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
}

.button-pointing {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
}

.select-container {
  margin-left: 10px;
}

select {
  margin-top: 70px;
  width: 200px;
  padding: 5px;
  font-size: 16px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
}
